
* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
:root{
    --rosa: #7c4b94;
    --fuente-titulos: 'Playfair Display', serif;
}

body {

    padding-top: 20px;
    line-height: 1.6;

  
    background-color: #FFF7FB; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    
    font-family: 'Lato', Arial, sans-serif;
    color: #333333;
}


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #a25ea8; 
    letter-spacing: 0.5px;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.15);
    
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 4px rgba(101, 59, 115, 0.15);
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  color: #653B73;
  letter-spacing: 0.8px;
  margin-top: 14px;
}


p {
  font-size: 1.07rem;
  color: #222;          
  text-align: justify;  
  margin: 12px 0;
  line-height: 1.7;
}

a:hover,
a:focus {
    color: #9b61c6;
    text-decoration: underline;
}

a:active {
    transform: translateY(1px);
}
a {
    color: #7a3fb3;
    text-decoration: none;
}

header {
    margin: 0 auto;     
    border:none;   
    outline: none; 
    border-radius: 0;
    border-bottom: 3px solid #ba68c8;  
    width: 100%;
    background-color: #ffffffee;
    backdrop-filter: blur(6px);
    background-image: url('img/fondoheader.jpg');
    background-repeat: repeat-x;
    background-position: top;
    background-size: 100px;
     position: sticky;     
    top: 0;
    z-index: 999;
    
}

header h1 {
    margin: 10px 0;       
    padding: 5px 0;
}


nav a {
    color: rgba(101, 59, 115, 0.95);
    font-weight: 600;
}

nav a.active {
    color: #ffb3d9 !important;
}


/*==================================================
               QUIÉNES SOMOS
==================================================*/
#valores{
    background-color:#f8e9fc;
    border:2px solid #e9c7db;
    border-radius:15px;
    padding:25px;
    scroll-margin-top:140px;
}
.contenedor-box {
    width: 80%;
    margin: 20px auto;     
    padding: 20px 25px;    
    border: 2px solid #c9b3d9;  
    background-color: #fafafa;
}

.contenedor-box h2 {
    font-family: 'Playfair Display', serif;
    color: #a25ea8; 
    margin-top: 30px;
    margin-bottom: 15px;
}

.contenedor-box p,
.contenedor-box li {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
}

.contenedor-box ul, 
.contenedor-box ol {
    padding-left: 25px;
    margin-bottom: 20px;
}

.contenedor-box blockquote {
    margin: 20px auto;
    padding: 10px 20px;
    border-left: 4px solid #ba68c8;
    color: #6a3d86;
    font-style: italic;
}
.vision-lunare {
    width: 80%;
    margin: 30px auto;
    padding: 22px 28px;

    background-color: #ffffffcc;
    border: 2px solid #a25ea8;
    border-radius: 12px;

    box-shadow: 0 4px 12px rgba(162, 94, 168, 0.15);
    backdrop-filter: blur(4px);
}

.vision-lunare h3 {
    font-family: 'Playfair Display', serif;
    color: #a25ea8;
    font-size: 1.5rem;
    margin-bottom: 12px;
    text-align: center;
}

.vision-lunare p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
    margin-bottom: 12px;
}
blockquote {
    position: relative;
    padding-left: 28px;
    margin: 10px 0;
   text-align: left;
}

blockquote::before {
    content: "❝";
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 1.6rem;
    color: #d8b4e2;
}

blockquote::after {
    content: "❞";
    margin-left: 4px;
    font-size: 1.6rem;
    color: #d8b4e2;
}

.float-demo {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #e0c4ef;
    padding: 15px;
    border-radius: 8px;
    background-color: #fdf7ff;
}

.float-img {
    float: left;
    width: 40%;
    margin: 0 15px 10px 0;
    border-radius: 10px;
}
.float-texto {
    overflow: auto;                  
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.multimedia {
    width: 80%;
    margin: 60px auto 40px auto;
    padding: 20px;
    border: 2px solid #e0c4ef;
    border-radius: 10px;
    background-color: #fdf7ff;
    box-shadow: 0 8px 20px rgba(162, 94, 168, 0.12);
}

.multimedia video,
.multimedia audio,
.multimedia iframe {
    display: block;
    margin: 12px auto;
}

.demo-display{
    width: 80%;
    margin: 100px auto 50px auto;
}

.demo-display h3{
    text-align: center;
    color: #7c4b94;
    margin-bottom: 15px;
}

.demo-display p{
    text-align: center;
}

.cierre-lunare{
    width:80%;
    margin:60px auto;
    text-align:center;
}

.cierre-lunare h2{
    color:#a25ea8;
    margin:18px 0;
}

.cierre-lunare p{
    max-width:700px;
    margin:auto;
    color:#555;
    font-size:1.08rem;
    line-height:1.7;
}
/*==================================================
                  PRODUCTOS
==================================================*/
.productos-intro {
    text-align: center;
    margin-bottom: 30px;
}

.productos-intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.productos-intro p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
}
.productos-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 20px;
}

.productos-flex .product-card {
    flex: 1 1 260px;               
}

.productos-flex .product-card:nth-child(1) {
    order: 2;
}

.productos-flex .product-card:nth-child(2) {
    order: 1;
}
.product-card{
    border-radius:20px;
    overflow:hidden;
    transition:all .35s ease;
    background:white;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 35px rgba(162,94,168,.18)!important;
}
.product-card img{
    height:330px;
    object-fit:cover;
}
.product-card h3{
    color:#7c4b94;
    font-weight:bold;
    margin-bottom:8px;
}

.product-card p{
    color:#555;
    line-height:1.6;
}
.product-card .badge {
    position: absolute;   
    top: 10px;
    right: 10px;
    background-color: #ffb3d9;
    color: #653B73;
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 0.75rem;
}
.recomendacion-producto{
    width: 85%;
    margin: 50px auto;
    padding: 45px 35px;

    background: #fff;

    border: 2px solid #e6c8ef;
    border-radius: 16px;

    box-shadow: 0 8px 20px rgba(162,94,168,.12);
}
.recomendacion-producto h2{
    margin-bottom:25px;
}
.recomendacion-producto p{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.7;
}
.recomendacion-producto{
    margin-bottom: 70px;
}


/*==================================================
                    CONTACTO
==================================================*/

.card-lunare{
    border: none;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    padding: 10px;
}

.card-lunare h3{
    color: var(--rosa);
    font-family: var(--fuente-titulos);
}

.card-lunare i{
    color: var(--rosa);
    margin-right: 8px;
    font-size: 1.1rem;
}

.form-lunare{
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
}

.form-lunare label{
    font-weight: 600;
}

.form-lunare input,
.form-lunare select,
.form-lunare textarea{
    border: 1px solid #cfa6dd;
    border-radius: 10px;
    background: #fff;
}

.form-lunare input:focus,
.form-lunare select:focus,
.form-lunare textarea:focus{
    outline: none;
    border-color: var(--rosa);
    box-shadow: 0 0 0 .2rem rgba(232,148,181,.25);
}

.alert-lunare{
    background: #fff;
    border-left: 6px solid var(--rosa);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
    padding: 20px;
}

.alert-lunare h5{
    color: var(--rosa);
    font-family: var(--fuente-titulos);
}
.alert-lunare p{
    margin: 0;
    color: #555;
}

.alert-lunare .fs-2{
    font-size: 2rem !important;
}

/*==================================================
                    BOTONES
==================================================*/
button {
    background-color: #A25EA8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: #8d4a93;
}

.boton-fixed {
    position: fixed;     
    bottom: 20px;
    right: 20px;
    background-color: #b76e79;
    color: #fff;
    padding: 10px 16px;
    border-radius: 999px;
    font-size: 0.9rem;
    text-decoration: none;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
}
.btn-lunare{

    background: linear-gradient(90deg,#ba68c8,#a25ea8);

    color:white;

    border:none;

    border-radius:999px;

    padding:12px 20px;

    font-weight:600;

    transition:all .3s ease;

    box-shadow:0 6px 15px rgba(162,94,168,.25);

}

.btn-lunare:hover{

    background:linear-gradient(90deg,#a25ea8,#8b4b97);

    color:white;

    transform:translateY(-2px);

    box-shadow:0 10px 22px rgba(162,94,168,.35);

}

/*==================================================
            COMPONENTES GENERALES
==================================================*/
.portada {
    border: 3px solid pink;
    padding: 5px;
    margin-bottom: 15px;
}
.decoracion{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:18px;
    margin-bottom:30px;
}

.decoracion span:first-child,
.decoracion span:last-child{
    flex: 1;
    max-width: 120px;
    height: 2px;
    background: #d8b4e2;
    border-radius: 999px;
}

.flor{
    font-size: 1.9rem;
    color: #ba68c8;
    line-height: 1;
}
.tag-inline span {
    display: inline;      
    padding: 0 4px;
}

.tag-inline strong {
    display: inline-block; 
    padding: 2px 6px;
    border-radius: 999px;
    background-color: #f8e9fc;
}
.oculto-display {
    display: none;
}

.oculto-visibility {
    visibility: hidden;
}
img{
    max-width:100%;
    height:auto;
}
/* ===== CAROUSEL ===== */

#carouselLunare{
    max-width: 1100px;
    margin: 0 auto;
}

#carouselLunare img{
    height: 550px;
    object-fit: cover;
    border-radius: 15px;
}
/*==================================================
                    FOOTER
==================================================*/

footer p {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    border-top: 3px solid #ba68c8;
}

/*==================================================
        SELECTORES AVANZADOS CSS
==================================================*/
section p span {
    font-weight: 700;
    color: #653B73;
}


section > p {
    margin-top: 8px;
}


h2 + p {
    font-style: italic;
}


h2 ~ ol {
    margin-top: 8px;
}

article ul li:first-child {
    font-weight: 700;
}
article ol li:nth-child(2) {
    color: #b76e79;
}

.product-card:not(:first-child) {
    box-shadow: 0 0 10px rgba(101, 59, 115, 0.12);
}

.tips-lunare{
    display:flex;
    flex-direction:column;
    gap:18px;
    margin-top:20px;
}

.tip-item{
    background:#fff7fb;
    border-left:5px solid var(--rosa);
    border-radius:12px;
    padding:18px 20px;
    box-shadow:0 4px 10px rgba(0,0,0,.06);
    transition:.3s;
}

.tip-item:hover{
    transform:translateX(5px);
    box-shadow:0 8px 18px rgba(162,94,168,.15);
}

.tip-item p{
    margin:6px 0 0;
    color:#555;
}
.dato-curioso{
    margin-top:25px;
    padding:18px;
    background:#fff7fb;
    border-left:5px solid var(--rosa);
    border-radius:12px;
}

.dato-curioso h5{
    color:var(--rosa);
    font-family:var(--fuente-titulos);
    margin-bottom:10px;
}

.dato-curioso p{
    margin:0;
    color:#555;
}






























